$tuna-50: #f7f7f8;
$tuna-100: #efedf1;
$tuna-200: #d9d7e0;
$tuna-300: #b8b4c5;
$tuna-400: #918ca4;
$tuna-500: #736d8a;
$tuna-600: #5e5871;
$tuna-700: #4d485c;
$tuna-800: #423e4e;
$tuna-900: #33303b;
$tuna-950: #27242d;

$cinnabar-50: #fdf3f3;
$cinnabar-100: #fde3e3;
$cinnabar-200: #fccccc;
$cinnabar-300: #f8a9a9;
$cinnabar-400: #f27777;
$cinnabar-500: #e63d3d;
$cinnabar-600: #d42e2e;
$cinnabar-700: #b22323;
$cinnabar-800: #942020;
$cinnabar-900: #7b2121;
$cinnabar-950: #430c0c;