@import 'palette';

// APP COLORS
$bg-color: $tuna-950;
$text-color: $tuna-50;
$button-bg-color: $tuna-500;
$button-bg-color-hover: $tuna-400;
$button-color: $tuna-200;
$button-border-color: $tuna-600;

$error-color: $cinnabar-500;


// DEFINITIONS
$default-border-radius: 6px;
$default-quarter-spacing: 4px;
$default-half-spacing: 8px;
$default-spacing: 16px;



@mixin default-border {
    border-radius: $default-border-radius;
    border: solid 1px $tuna-500;
}

@mixin default-div {
    @include default-border;
    background-color: $tuna-900;
}
