@use 'theme';

// NODE COLORS
// Node colors
$node-bg-color: $tuna-400;

$node-type-input-bg: #6b1919;
$node-type-input-text: $tuna-100;

$node-type-output-bg: #196b42;
$node-type-output-text: $tuna-100;

$node-type-transform-bg: #0310be;
$node-type-transform-text: $tuna-100;

$node-type-mathOp-bg: #be4e03;
$node-type-mathOp-text: $tuna-100;

$node-selected-border-color: #e9db1f;

// Socket colors
$socket-type-bool: #40c9de;
$socket-type-float: #a740de;
$socket-type-vector2: #50a16c;
$socket-type-vector3: #ba7429;
$socket-type-vector4: #4c80a6;
$socket-type-color: #4c80a6;


div.node {
    position: absolute;
    background-color: $node-bg-color;
    user-select: none;

    border-radius: theme.$default-half-spacing *0.5;
    border-style: solid;
    border-width: 2px;
    border-color: adjust-color($color: $node-bg-color, $lightness: -40%);

    &.selected {
        // border-width: 3px;
        border-color: $node-selected-border-color;
    }

    &.top {
        z-index: 1;
    }

    .header {
        padding: theme.$default-half-spacing * 0.5;
        font-weight: bold;
        margin-bottom: theme.$default-half-spacing;

        // border-top-right-radius: theme.$default-half-spacing *0.5;
        // border-top-left-radius: theme.$default-half-spacing *0.5;
        &.input {
            background-color: $node-type-input-bg;
            color: $node-type-input-text;
        }

        &.output {
            background-color: $node-type-output-bg;
            color: $node-type-output-text;
        }

        &.transform {
            background-color: $node-type-transform-bg;
            color: $node-type-transform-text;
        }

        &.mathOp {
            background-color: $node-type-mathOp-bg;
            color: $node-type-mathOp-text;
        }
    }

    .body {
        display: flex;
        flex-direction: column;
        gap: theme.$default-half-spacing * 0.5;
        padding-bottom: theme.$default-half-spacing;

        .socket-row {
            margin: 0 theme.$default-half-spacing *0.5;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: theme.$default-half-spacing;

            &.output {
                margin-right: 0 - 6px;
                margin-left: theme.$default-half-spacing * 2;
                justify-content: flex-end;
            }

            &.input {
                justify-content: flex-end;
                flex-direction: row-reverse;
                margin-left: 0 - 6px;
                margin-right: theme.$default-half-spacing * 2;
            }

            .socket {
                border-width: 2px;
                border-style: solid;
                border-radius: 50%;
                width: 8px;
                height: 8px;

                &.bool {
                    background-color: $socket-type-bool;
                    border-color: adjust-color($color: $socket-type-bool, $lightness: -20%);
                    ;
                }

                &.float {
                    background-color: $socket-type-float;
                    border-color: adjust-color($color: $socket-type-float, $lightness: -20%);
                    ;
                }

                &.vector2 {
                    background-color: $socket-type-vector2;
                    border-color: adjust-color($color: $socket-type-vector2, $lightness: -20%);
                    ;
                }

                &.vector3 {
                    background-color: $socket-type-vector3;
                    border-color: adjust-color($color: $socket-type-vector3, $lightness: -20%);
                    ;
                }

                &.vector4 {
                    background-color: $socket-type-vector4;
                    border-color: adjust-color($color: $socket-type-vector4, $lightness: -20%);
                    ;
                }

                &.color {
                    background-color: $socket-type-color;
                    border-color: adjust-color($color: $socket-type-color, $lightness: -20%);
                    ;
                }
            }

            .socket-numeric-input {
                display: flex;
                flex-direction: column;
                width: 100px;
            }
        }

        .parameter-row {
            padding: 0 4px;
            padding-bottom: 4px;
            &:first-child {
                padding-bottom: 0;

            }
        }
    }
}