@import 'theme';
@import 'node';

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: $bg-color;
  color: $text-color;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  padding: 0 $default-spacing;
  display: grid;
  grid-template-columns: minmax(800px, 3fr) 1fr;

  #title-section {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

button.default-look {
  background-color: $button-bg-color;
  color: $button-color;
  border: 1px solid $button-border-color;
  border-radius: 4px;
  padding: $default-quarter-spacing $default-half-spacing;
  transition: ease-in-out 200ms;
  cursor: pointer;

  &:hover {
    background-color: $button-bg-color-hover;

  }
}

#app {
  display: grid;
  grid-template-columns: minmax(800px, 3fr) 1fr;
  width: 100%;
  flex-grow: 1;
  min-height: 0;
}

#editor {
  #board {
    position: relative;
    margin: $default-half-spacing;
    min-height: 400px;
    height: 70vh;

    #board-canvas {
      @include default-div;
      height: 100%;
      width: 100%;

    }

    #board-div {
      @include default-div;
      background-color: #00000000;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;

      &:focus {
        outline: none;
      }
    }
  }

  #toolbox {
    margin: $default-half-spacing;
    margin: $default-quarter-spacing;
    margin-bottom: 0;
    display: flex;
    gap: $default-spacing;

    .category {
      h3 {
        margin: $default-half-spacing 0;
      }

      div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: $default-half-spacing;
      }
    }
  }
}

#output {
  padding: $default-spacing;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  min-height: 0;
  max-height: 100%;

  #gl-output {
    display: flex;
    justify-content: center;
    position: relative;

    div {
      margin-right: $default-spacing;
    }

    canvas {
      @include default-border;
      width: 500px;
      height: 300px;
      width: 100%;
    }

    #play-control {
      position: absolute;
      display: flex;
      width: 90%;
      margin: 0 !important;
      background-color: #181818ab;
      padding: 4px 8px;
      gap: 8px;
      row-gap: 8px;
      column-gap: 8px;
      bottom: 5px;
      justify-content: space-around;
      align-items: baseline;
      button {
        display: flex;
        &.hidden{
          display: none;
        }
      }
      span {
        font-size: small;
      }
    }
  }

  #output-wrapper {
    @include default-div;
    flex-grow: 2;
    padding: $default-half-spacing;
    min-height: 0;
    position: relative;

    #copy {
      position: absolute;
      right: calc($default-spacing * 3);
    }

    #code-output {
      margin: 0;
      max-height: 100%;
      overflow: auto;
    }
    pre {
      white-space: pre-wrap;

      &.error {
        color: $error-color
      }
    }
  }
}